.heading{
    color:green;
    margin-left:100px;
    background-color: blue;
    font-family:camria,cochin,georgia,times,'Time New roman',serif;
    font-weight:100;
}
#head1{
    color:rgb(202,63,110);
}